{% extends 'app/base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>
<p>投稿者：{{ post.author }}</p>
<p>投稿日：{{ post.created|date:"y/m/d H:m:s" }}</p>

<p>{{ post.text }}</p>

<h1>コメント</h1>

{% for comment in comment_list %}
    <div class="comment">
        <ul>
            <li style="list-style: none;">{{ forloop.counter }}:{{ comment.author }} ： {{ comment.created }}</li>
            <p>{{ comment.text }}</p>
            {% if request.user.is_anonymous %}
            {% else %}
                <form action="{% url 'comment_delete' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick='return confirm("本当に削除しますか？");'>コメントを削除する</button>
                </form>
            {% endif %}
        </ul>
    </div>
{% empty %}
    <p>コメントがありません</p>
{% endfor %}

<form action="", method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">投稿</button>
</form>

{% if request.user.is_anonymous %}
{% else %}
    <a href="{% url 'blog_edit' post.pk %}">編集</a>
    <a href="{% url 'blog_delete' post.pk %}">削除</a>
{% endif %}

{% endblock %}